<app-modal (closed)="reset()" #modal title="Add new user">
  <ng-template #footer let-modal let-open="open">
    <div trigger class="d-flex gap-2">
      <button (click)="open(modal)" class="btn btn-primary mb-3">
        Add new user
      </button>

      @if (adding$ | async) {
        <div class="spinner-border text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      }
    </div>
  </ng-template>

  <app-user-form></app-user-form>

  <div footer class="d-flex w-100 gap-5 justify-content-center">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close()"
    >
      Cancel
    </button>

    <button
      [disabled]="isFormInvalid"
      (click)="create()"
      class="btn btn-primary"
    >
      Create
    </button>
  </div>
</app-modal>
